body {
    font-family: sans-serif;
    background-color: white;
}

form {
    width: 600px;
    margin: auto;
    padding: 100px;
    background-color: lightpink;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border-color: blue;
    outline: none;
}

.jst
{
background-colour: grey;
color: white;

.jst:hover {
    background-color: darkgreen;
}